div {
  border: 1px solid #ddd;
  padding: 30px;
  margin: 30px;
}

body {
  min-height: 500px;
  background-color: blue;
}

#one {
  background-color: red;
}

.two {
  background-color: green;
}

.three {
  background-color: aqua;
  width: 40%;
}